@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right" style="width: 315px;">
            <li >

                @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })

            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>

        </ul>

    }
}
else
{

    <i class="fas fa-sign-in-alt"></i>
    <a href="/Account/Login" title="Đăng nhập" class="dndk"> Đăng nhập</a>
    <p><i class="fa fa-user-circle" aria-hidden="true"></i></p>
    <a href="/Account/Register" title="Đăng ký" class="dndk1"> Đăng ký</a>
}
