
@{
    ViewBag.Title = "erorrCheckOut";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:red;">ERROR!!!! Vui lòng điền đúng thông tin đã đăng ký</h2>
<img src="~/Content/Images/erorr.png" style=" height: 150px; margin-left: 539px;" />
<br />
<a style="margin-left: 623px;" href="@Url.Action("ShowToCart", "ShoppingCart")">BACK</a>

