
@{
    ViewBag.Title = "erorrCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center; color:red;">Giỏ Hàng rỗng!!!! Vui lòng mua hàng rồi hãy quay lại</h2>
<img src="~/Content/Images/erorr.png" style=" height: 150px; margin-left: 539px;" />
<br />
<a style="margin-left: 623px;" href="@Url.Action("Index", "Home")">Go to Shopping</a>

