
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<body style="text-align:center">
    <h2>Shopping Successfull</h2>
    <h4>Bill of u had sent the Shop. You will receive goods in 2-3 days. see u again</h4>
    <a class="btn btn-success" href="@Url.Action("Index", "Home")">Continues Shopping...</a>
</body>


