@{
    ViewBag.Title = "About";

    <link href="~/Styles/GioiThieu1.css" rel="stylesheet" />
}


<aside class="main">
    <h4> CÔNG TY CỔ PHẦN THƯƠNG MẠI DỊCH VỤ H&K </h4>
    <h3> 1. Lịch sử hình thành </h3>
    <p>
        K&P lúc đó là một cửa hàng buôn bán máy tính nhỏ. Qua nhiều năm K&P đã từng bước lớn mạnh và phát triển trong
        lĩnh vực kinh doanh các sản phẩm, linh kiện máy tính, thiết bị văn phòng, thông tin liên lạc và giải trí do các hãng điện tử
        hàng đầu trên thế giới sản xuất. Và đến tháng 7 năm 2007, Hữu Phúc chính thức thành lập Công ty Cô phần Thương mại - Dịch vụ Hữu Phúc.
    </p>
    <img src="~/Content/Images/gioithieu.png" />
    <p>
        K&P luôn phấn đấu, nỗ lực không ngừng để đem lại cho người tiêu dùng những sản phẩm công nghệ tiên tiến, và đã trở thành một
        trong những thương hiệu đáng tin cậy và được yêu thích nhất. P&K luôn cam kết cung cấp hàng chính hãng từ các nhà sản xuất,
        chất lượng luôn được đảm bảo và mức giá phù hợp trong môi trường cạnh tranh.
    </p>
    <h3> 2. Lĩnh vực hoạt động </h3>
    <p> P&K luôn đa dạng các mặt hàng và phong phú về mẫu mã trong lĩnh vực Công nghệ thông tin nhằm đáp ứng nhu cầu ngày càng cao của khách hàng.</p>
    <p> Xây dựng thành công một thương hiệu máy tính riêng, mang tên PC P&K với chất lượng tốt nhất và giá cả phù hợp. </p>
    <p> Phần mềm Microsoft OEM dùng cài đặt trên máy tính mới lắp ráp, phần mềm ứng dụng, phần mềm diệt virus,… </p>
    <p> Phân phối máy tính bảng, nhiều dòng máy laptop , máy tính để bàn, các linh kiện, phụ kiện, kỹ thuật số, camera,… của nhiều hãng nổi tiếng trên thế giới như Acer, HP, Samsung, Asus, LG, Linksys, Kingmax,… </p>
    <p>
        H&K đã và đang cung cấp giải pháp mạng cho các tổ chức, doanh nghiệp hoặc cá nhân kinh doanh internet.
        Chúng tôi hiện có trong tay các phương tiện hiện đại nhất, có thể lắp đặt phần cứng và cài đặt phần mềm quản lý,
        duy trì tính ổn định, kéo dài tối đa tuổi thọ của toàn bộ hệ thống.
    </p>
    <p>
        H&K còn là địa chỉ tin cậy đối với khách hàng có nhu cầu bảo hành và bảo trì cho các loại máy tính để bàn,
        máy tính xách tay, máy in, UPS (thiết bị điện), và các thiết bị ngoại vi,… Với các loại hình dịch vụ bảo hành và bảo
        trì tận nơi, bảy ngày trong tuần, chúng tôi bảo đảm tối ưu hóa năng lực các máy móc, thiết bị của khách hàng.
    </p>
    <h3> 3. Nguồn nhân lực </h3>
    <p> Một tổ chức phát triển bền vững luôn cần có một đội ngũ nhân lực tốt về chất và lượng. Chính vì quan niệm đó mà đội ngũ nhân lực của Hữu Phúc luôn được chọn lọc kỹ càng trước khi trải qua các quá trình đào tạo. </p>
    <img src="~/Content/Images/gioithieu1.jpg" />
    <p> Chúng tôi cập nhật thường xuyên những kiến thức sản phẩm mới nhất, không ngừng nâng cao trình độ chuyên môn kỹ thuật và tác phong giao tiếp với khách hàng luôn được chú trọng. Chúng tôi xem khả năng làm hài lòng khách hàng là thước đo thành công của chính mình. </p>


</aside>
