@{
    <link href="~/Styles/LienHee.css" rel="stylesheet" />
}
<aside class="main">
    <article class="center">
        <h3> LIÊN HỆ KHÁCH HÀNG </h3>

        <div class="map" style="width:722px;height:500px;text-align:center;">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3295.857700014838!2d106.66561486165651!3d10.
						776234972536473!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752fba736ffe87%3A0xe05d6fe8218909be!
						2zVHLGsOG7nW5nIMSQ4bqhaSBo4buNYyBOZ2_huqFpIG5n4buvIC0gVGluIGjhu41jIFRQLC5IQ00!5e0!3m2!1svi!2s!4v1558748504
						181!5m2!1svi!2s" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="formlienhe">
            <div class="social">
                <div class="social-item gg-social">
                    <i class="fab fa-google-plus-g"></i>
                </div>
                <div class="social-item tw-social">
                    <i class="fab fa-twitter"></i>
                </div>
                <div class="social-item fb-social">
                    <i class="fab fa-facebook-f"></i>
                </div>
            </div>
            <div class="formm">
                <form>
                    <table>
                        <tr>
                            <td><label for="name"> Họ và tên: </label></td>
                            <td>
                                <input type="text" name="email" id="name" placeholder="Nhập Họ và tên..." />
                            </td>
                        </tr>
                        <tr>
                            <td><label for="email"> E-Mail: </label></td>
                            <td>
                                <input type="email" name="email" id="name" placeholder="Nhập E-Mail..."
                                       autofocus required />
                            </td>
                        </tr>
                        <tr>
                            <td><label for="phone"> Số điện thoại: </label></td>
                            <td>
                                <input type="tel" name="phone" id="name" placeholder="(+84) &nbsp 999 999 999"
                                       pattern="/^^0[0-9]{9,10}$g;" title="Định dạng số điện thoại không hợp lệ!" />
                            </td>
                        </tr>
                        <tr>
                            <td><label for="text"> Nội dung: </label></td>
                            <td>
                                <textarea rows="7" cols="5" id="text" placeholder="Mời bạn để lại bình luận..."
                                          pattern="[A-Za-z0-9]{20,}" title="Vui lòng nhập ít nhất 100 kí tự format"></textarea>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" align="center">
                                <input type="submit" id="submit" class="btn btn-success" value="Submit">
                                <input type="reset" id="reset" class="btn" value="Reset Fields">
                            </td>
                        </tr>
                    </table>
                </form>

            </div>
        </div>

    </article>
    <section class="tintuc">
        <h3> TIN TỨC MỚI NHẤT </h3>
        <ul>
            <li>
                <a href="#" title=" PCAP ASUS APEX LEGENDS - Chiến mượt game HOT mà chỉ 11 triệu ">
                    <img src="~/Content/Images/left1.jpg"> <i class="fas fa-angle-double-right"></i>
                    PCAP ASUS APEX LEGENDS - Chiến mượt game HOT mà chỉ 11 triệu
                </a>
            </li>

            <li>
                <a href="#" title=" Ghế ngồi chơi game giá 99 triệu ở Việt Nam ">
                    <img src="~/Content/Images/left2.jpg"> <i class="fas fa-angle-double-right"></i>
                    Ghế ngồi chơi game giá 99 triệu ở Việt Nam
                </a>
            </li>

            <li>
                <a href="#" title=" Review GALAX RTX 2070 EX 1 Click Series ">
                    <img src="~/Content/Images/left3.jpg"> <i class="fas fa-angle-double-right"></i>
                    Review GALAX RTX 2070 EX 1 Click Series
                </a>
            </li>

            <li>
                <a href="#" title=" Razer ra mắt laptop Blade Stealth Quartz Pink Edition ">
                    <img src="~/Content/Images/left4.jpg"> <i class="fas fa-angle-double-right"></i>
                    Razer ra mắt laptop Blade Stealth Quartz Pink Edition
                </a>
            </li>

            <li>
                <a href="#" title=" TOP 5 PHÍM CƠ ĐÁNG MUA NHẤT DỊP TẾT 2019 ">
                    <img src="~/Content/Images/left5.jpg"> <i class="fas fa-angle-double-right"></i>
                    TOP 5 PHÍM CƠ ĐÁNG MUA NHẤT DỊP TẾT 2019
                </a>
            </li>
        </ul>
    </section>

    <div class="ttlq">
        <h3> TIN TỨC LIÊN QUAN </h3>

        <ul>
            <li>
                <a href="#" title=" Acbel: Cội nguồn sức mạnh ">
                    <img src="Images\ttlq.jpg"> <i class="fas fa-angle-double-right"></i>
                    Acbel: Cội nguồn sức mạnh
                </a>
                <a href="#" title="Acbel: Cội nguồn sức mạnh" target="_blank" class="link"> Link </a>
            </li>

            <li>
                <a href="#" title=" Đập hộp Gigabyte RTX 2080 Gaming OC ">
                    <img src="Images\ttlq1.jpg"> <i class="fas fa-angle-double-right"></i>
                    Đập hộp Gigabyte RTX 2080 Gaming OC
                </a>
                <a href="#" title="Đập hộp Gigabyte RTX 2080 Gaming OC" target="_blank" class="link"> Link </a>
            </li>

            <li>
                <a href="#" title=" Chiêm ngưỡng siêu CARD Đồ họa ASUS Dual RTX 2080">
                    <img src="Images\ttlq2.jpg"> <i class="fas fa-angle-double-right"></i>
                    Siêu CARD Đồ họa ASUS Dual RTX 2080
                </a>
                <a href="#" title="Chiêm ngưỡng siêu CARD Đồ họa ASUS Dual RTX 2080" target="_blank" class="link"> Link </a>
            </li>

            <li>
                <a href="#" title=" Ra mắt sản phẩm ASUS mới tại Malaysia ">
                    <img src="Images\ttlq3.jpg"> <i class="fas fa-angle-double-right"></i>
                    Ra mắt sản phẩm ASUS mới tại Malaysia
                </a>
                <a href="#" title="Ra mắt sản phẩm ASUS mới tại Malaysia" target="_blank" class="link"> Link </a>
            </li>

            <li>
                <a href="#" title=" PC đẹp ngất ngây của Game thủ Hà Thành ">
                    <img src="Images\ttlq4.jpg"> <i class="fas fa-angle-double-right"></i>
                    PC đẹp ngất ngây của Game thủ Hà Thành
                </a>
                <a href="#" title="PC đẹp ngất ngây của Game thủ Hà Thành" target="_blank" class="link"> Link </a>
            </li>
        </ul>
    </div>
</aside>