
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
<link href="~/Styles/Tintuc1.css" rel="stylesheet" />
}

<aside class="main">
    <article class="center">
        <h3> TIN TỨC NỔI BẬT </h3>

        <ul>
            <li>
                <img src="~/Content/Images/tintuccenter1.jpg" />
                <a href="tintucchitiet.html" title= Trải nghiệm: Dell Ultrasharp U3419W: Sự lựa chọn hoàn hảo cho dân thiết kế ">
                    <h2> Trải nghiệm: Dell Ultrasharp U3419W: Sự lựa chọn hoàn hảo cho dân thiết kế</h2>
                </a>
                Nếu bạn là người thích màn hình cong, độ phân giải lớn cùng một tấm nền hiển thị tuyệt vời, Dell U3419W là sản phẩm dành cho bạn.
            </li>
            <li>
                <img src="~/Content/Images/tintuccenter4.jpg" />
                <a href="#"> <h2> Western Digital giới thiệu dòng SSD SN750 siêu nhỏ gọn, dung lượng lên tới 2TB </h2> </a>
                <p>
                    SN750 NVMe là thế hệ thứ hai của dòng SSD WD Black được thiết kế đặc biệt cho gaming với tốc độ đọc,
                    ghi rất cao và dung lượng lên tới 2TB.
                </p>
            </li>
            <li>
                <img src="~/Content/Images/tintuccenter5.jpg" />
                <a href="#"> <h2> Card đồ họa sẽ giảm từ tháng 5 </h2> </a>
                <p>
                    Sau một thời gian quá dài khi giá của những chiếc card màn hình luôn chạm đỉnh cao nhất thì theo thông tin vừa mới
                    được rò rỉ chắc chắn rằng việc các nhà sản xuất hạ giá những chiếc card của mình là hoàn toàn có thể xảy ra.
                    Còn chờ đợi gì nữa mà không đi vào tìm hiểu ngay bây giờ.
                </p>
            </li>
            <li>
                <img src="~/Content/Images/tintuccenter6.jpg" />
                <a href="#"> <h2> Intel sẽ biến laptop của bạn thành quái vật tốc độ bằng chip Core i9 mới nhất </h2> </a>
                <p> 6 nhân, 12 luồng, xung nhịp lên tới 5GHz, Core i9 đã đang biến những chiếc laptop thành những PC cấu hình khủng thực sự. </p>
            </li>
            <li>
                <img src="~/Content/Images/tintuccenter7.jpg" />
                <a href="#"> <h2> ASUS ra mắt loạt card đồ họa GTX 1070 Ti mới với hiệu suất cực mạnh </h2> </a>
                <p> Những mẫu card đồ họa mới đến từ ASUS và ASUS ROG dựa trên nền tảng GTX 1070 Ti sẽ mang đến một trải nghiệm chơi game 4K và VR tuyệt đỉnh. </p>
            </li>
            <li>
                <img src="~/Content/Images/tintuccenter8.jpg" />
                <a href="#"> <h2> AMD ra mắt Card đồ họa Radeon RX 500 Series: Hấp dẫn để nâng cấp </h2> </a>
                <p>
                    Mới đây, AMD cho biết, Radeon ™ RX 500 là dòng card đồ họa mới với sự kết hợp mạnh mẽ giữa cải tiến hiệu năng chơi game,
                    xung nhịp cao hơn và kiến trúc Polaris thế hệ 2 được tối ưu, mang lại cho các game thủ PC những ưu điểm tốt nhất để nâng cấp đồ hoạ của họ.
                </p>
            </li>
            <li>
                <img src="~/Content/Images/tintuccenter9.jpg" />
                <a href="#"> <h2> AMD chính thức ra mắt CPU Ryzen mới với hiệu năng ấn tượng rất tuyệt vời ông mặt tr</h2> </a>
                <p> Mới đây, AMD đã chính thức ra mắt CPU Ryzen cho hiệu năng ấn tượng với mức giá hấp dẫn cho thị trường Việt Nam. </p>
            </li>
            <li>
                <img src="~/Content/Images/tintuccenter10.jpg" />
                <a href="#"> <h2> ASUS ROG GX700 – Laptop đầu tiên trên thế giới trang bị công nghệ tản nhiệt nước tháo rời </h2> </a>
                <p>
                    Hôm nay, ASUS chính thức giới thiệu dòng Laptop GX700 - MTXT đầu tiên trên thế giới trang bị
                    công nghệ tản nhiệt nước tháo rời độc quyền - Hydro Overclocking System.
                </p>
            </li>
            <li>
                <img src="~/Content/Images/tintuccenter2.jpg" />
                <a href="#"> <h2> OPPO F11 - Thiết kế rất đẹp mắt, màn hình giọt nước, tập trung vào camera</h2> </a>
                <p>  OPPO khá khéo léo khi tung ra hai sản phẩm trong đó F11 Pro sở hữu công nghệ camera giấu kín độc đáo và F11 giữ nguyên giá trị cho những ai yêu thích dòng F series của hãng trong nhiều năm qua. </p>
            </li>
            <li>
                <img src="~/Content/Images/tintuccenter3.jpg" />
                <a href="#"> <h2> FPT Services xây dựng giải pháp tin học cho khách hàng đặt lịch hẹn ưu tiên </h2> </a>
                <p>
                    Được nhắc đến là hệ thống trung tâm bảo hành và sửa chữa các thiết bị công nghệ uy tín, FPT Services đã là một thương hiệu có hành trình hơn 25 năm thấu hiểu và phục vụ khách hàng,
                    cũng như là đối tác bảo hành cho những hãng công nghệ lớn trên thế giới.
                </p>
            </li>
        </ul>
    </article>
    <section class="tintuc">
        <h3> TIN TỨC MỚI NHẤT </h3>
        <ul>
            <li>
                <a href="#" title=" PCAP ASUS APEX LEGENDS - Chiến mượt game HOT mà chỉ 11 triệu ">
                    <img src="~/Content/Images/left1.jpg"> <i class="fas fa-angle-double-right"></i>
                    PCAP ASUS APEX LEGENDS - Chiến mượt game HOT mà chỉ 11 triệu
                </a>
            </li>

            <li>
                <a href="#" title=" Ghế ngồi chơi game giá 99 triệu ở Việt Nam ">
                    <img src="~/Content/Images/left2.jpg"> <i class="fas fa-angle-double-right"></i>
                    Ghế ngồi chơi game giá 99 triệu ở Việt Nam
                </a>
            </li>

            <li>
                <a href="#" title=" Review GALAX RTX 2070 EX 1 Click Series ">
                    <img src="~/Content/Images/left3.jpg"> <i class="fas fa-angle-double-right"></i>
                    Review GALAX RTX 2070 EX 1 Click Series
                </a>
            </li>

            <li>
                <a href="#" title=" Razer ra mắt laptop Blade Stealth Quartz Pink Edition ">
                    <img src="~/Content/Images/left4.jpg"> <i class="fas fa-angle-double-right"></i>
                    Razer ra mắt laptop Blade Stealth Quartz Pink Edition
                </a>
            </li>

            <li>
                <a href="#" title=" TOP 5 PHÍM CƠ ĐÁNG MUA NHẤT DỊP TẾT 2019 ">
                    <img src="~/Content/Images/left5.jpg"> <i class="fas fa-angle-double-right"></i>
                    TOP 5 PHÍM CƠ ĐÁNG MUA NHẤT DỊP TẾT 2019
                </a>
            </li>
        </ul>
    </section>

    <div class="ttlq">
        <h3> TIN TỨC LIÊN QUAN </h3>

        <ul>
            <li>
                <a href="#" title=" Acbel: Cội nguồn sức mạnh ">
                    <img src="~/Content/Images/ttlq.jpg"> <i class="fas fa-angle-double-right"></i>
                    Acbel: Cội nguồn sức mạnh
                </a>
                <a href="#" title="Acbel: Cội nguồn sức mạnh" target="_blank" class="link"> Link </a>
            </li>

            <li>
                <a href="#" title=" Đập hộp Gigabyte RTX 2080 Gaming OC ">
                    <img src="~/Content/Images/ttlq1.jpg"> <i class="fas fa-angle-double-right"></i>
                    Đập hộp Gigabyte RTX 2080 Gaming OC
                </a>
                <a href="#" title="Đập hộp Gigabyte RTX 2080 Gaming OC" target="_blank" class="link"> Link </a>
            </li>

            <li>
                <a href="#" title=" Chiêm ngưỡng siêu CARD Đồ họa ASUS Dual RTX 2080">
                    <img src="~/Content/Images/ttlq2.jpg"> <i class="fas fa-angle-double-right"></i>
                    Siêu CARD Đồ họa ASUS Dual RTX 2080
                </a>
                <a href="#" title="Chiêm ngưỡng siêu CARD Đồ họa ASUS Dual RTX 2080" target="_blank" class="link"> Link </a>
            </li>

            <li>
                <a href="#" title=" Ra mắt sản phẩm ASUS mới tại Malaysia ">
                    <img src="~/Content/Images/ttlq3.jpg"> <i class="fas fa-angle-double-right"></i>
                    Ra mắt sản phẩm ASUS mới tại Malaysia
                </a>
                <a href="#" title="Ra mắt sản phẩm ASUS mới tại Malaysia" target="_blank" class="link"> Link </a>
            </li>

            <li>
                <a href="#" title=" PC đẹp ngất ngây của Game thủ Hà Thành ">
                    <img src="~/Content/Images/ttlq4.jpg"> <i class="fas fa-angle-double-right"></i>
                    PC đẹp ngất ngây của Game thủ Hà Thành
                </a>
                <a href="#" title="PC đẹp ngất ngây của Game thủ Hà Thành" target="_blank" class="link"> Link </a>
            </li>
        </ul>
    </div>
</aside>


